@import "tailwindcss";
@tailwind utilities;

:root {
  --color-primary: 255 255 255;       
  --color-secondary: 75 38 21;       /*  */
  --color-text: 30 30 30;
}

.white-icon {
  filter: brightness(0) saturate(100%) invert(100%);
}

.black-icon {
  filter: brightness(0) saturate(100%);
}